Repository synfig/synfig, pull requests merged in 2020-08, with the labels that each got.

#1486 fix OSX High Sierra, Mojave and Catalina build
  autobuild/build.sh
Labels: Compilation, OSX

#1607 fix old timetrack crashing on waypoint right-clicking
  synfig-studio/src/gui/docks/dock_timetrack.cpp
Labels: Critical

#1582 CPack NSIS Installer.
  CMakeLists.txt
  cmake/CPackConfig.cmake
  cmake/CPackProjectConfig.cmake
  cmake/InstallMSYS2.cmake
  packaging/PACKAGING.md
  packaging/nsis/header.bmp
  packaging/nsis/welcomefinish.bmp
  synfig-studio/src/synfigapp/CMakeLists.txt
Labels: CMake

#1655 speed up Layer_Freetype: don't load face file on every rendering
  synfig-core/src/modules/lyr_freetype/lyr_freetype.cpp
Labels: Performance

#1646 [CMake] Added basic support for MSVS 2019 and vcpkg
  .gitignore
  1-install-vcpkg.bat
  cmake/InstallMSYS2.cmake
  synfig-core/src/CMakeLists.txt
  synfig-studio/CMakeLists.txt
  synfig-studio/src/CMakeLists.txt
Labels: CMake

#1677 [CMake] Fixes missing images on MSYS builds.
  synfig-core/src/modules/CMakeLists.txt
Labels: CMake
