Repository synfig/synfig, pull requests merged in 2020-12, with the labels that each got.

#1880 Change order of Waypoint Editor buttons to match other dialogs
  synfig-studio/src/gui/dialogs/dialog_waypoint.cpp
Labels: GUI

#1872 [Synfig Studio] Eyedropper tool: Added ability to select fill color using Ctrl+click
  synfig-studio/src/gui/states/state_eyedrop.cpp
Labels: GUI

#1882 [Synfig Studio/Windows] Fixed problem with non-working plugins when using paths containing non-Latin characters
  synfig-studio/src/gui/instance.cpp
Labels: Backport, Windows

#1883 [CMake] Fixed incorrect MINGW_PREFIX path suggested in error message
  CMakeLists.txt
Labels: CMake, Windows

#1889 [Synfig Studio/Windows] Fixed load/save operations for Palette editor
  synfig-core/src/synfig/palette.cpp
  synfig-studio/src/gui/modules/mod_palette/dock_paledit.cpp
Labels: Backport, Windows

#1912 [Synfig Studio/Windows] Fixed non-working command "Edit image editing in external tool..."
  cmake/InstallMSYS2.cmake
  synfig-studio/src/gui/app.cpp
Labels: Backport, Windows

#1920 [Synfig Studio] Fixed crash when right-clicking on group in the Sets panel
  synfig-studio/src/gui/instance.cpp
Labels: Backport, Crash

#1924 [Synfig Studio] Fixed incorrect import of `lst` files when path contains non-Latin characters
  synfig-core/src/synfig/listimporter.cpp
  synfig-core/src/synfig/listimporter.h
Labels: Backport, Windows

#1861 [Synfig Studio] Fixed crash when frame rendering throws exception while animating
  synfig-studio/src/gui/asyncrenderer.cpp
  synfig-studio/src/gui/workarea.cpp
  synfig-studio/src/gui/workarearenderer/CMakeLists.txt
  synfig-studio/src/gui/workarearenderer/Makefile_insert
  synfig-studio/src/gui/workarearenderer/renderer_canvas.cpp
  synfig-studio/src/gui/workarearenderer/renderer_canvas.h
  synfig-studio/src/gui/workarearenderer/renderer_frameerror.cpp
  synfig-studio/src/gui/workarearenderer/renderer_frameerror.h
Labels: Backport, Crash

#1919 [CMake/Windows] Fixed missing `libgcc_s_dw2-1.dll` file in portable archive (x32)
  cmake/InstallMSYS2.cmake
Labels: CMake, Windows

#1925 [Synfig Studio] Add Eyedrop Tool legend in Toolbox
  synfig-studio/src/gui/states/state_eyedrop.cpp
Labels: GUI

#1942 [Synfig Studio] Disabled resizing of the Preview Options dialog
  synfig-studio/src/gui/resources/ui/preview_options.glade
Labels: GUI

#1928 [Synfig Studio] Add Show/Snap Guides to Toolbar
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/canvasview.h
  synfig-studio/src/gui/iconcontroller.cpp
Labels: GUI

#1962 [CMake/MSVC] Added required packages
  synfig-core/src/CMakeLists.txt
  synfig-core/src/modules/CMakeLists.txt
  synfig-studio/src/CMakeLists.txt
  synfig-studio/src/gui/CMakeLists.txt
Labels: CMake
