Repository synfig/synfig, pull requests merged in 2021-06, with the labels that each got.

#2172 Fix some shortcuts/accels - for item deletion and animation stop
  synfig-studio/src/gui/app.cpp
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/trees/layertree.cpp
  synfig-studio/src/gui/widgets/widget_curves.cpp
  synfig-studio/src/gui/widgets/widget_timetrack.cpp
Labels: Backport

#2173 [Studio] Shortcut editor more organized and asks for user confirmation
  synfig-studio/src/gui/app.cpp
  synfig-studio/src/gui/app.h
  synfig-studio/src/gui/dialogs/dialog_setup.cpp
  synfig-studio/src/gui/dialogs/dialog_setup.h
Labels: Backport

#2158 Fixed incorrect behavior when passing '-DMSYS=1' to CMake [cmake]
  CMakeLists.txt
Labels: CMake, Windows

#2185 [Synfig Studio] Fixed closed docks bug
  synfig-studio/src/gui/app.cpp
  synfig-studio/src/gui/docks/dock_canvases.cpp
Labels: GUI

#2184 Temporary correct cmake icons build
  synfig-studio/images/CMakeLists.txt
Labels: CMake
