Repository synfig/synfig, pull requests merged in 2022-08, with the labels that each got.

#2690 fix: Alpha channel resets when changing color in HSV wheel
  synfig-studio/src/gui/widgets/widget_coloredit.cpp
Labels: GUI, Code quality

#2795 feat: added support for SVG image sequence with lst files
  synfig-core/src/synfig/listimporter.cpp
Labels: Feature request

#2797 fix: Synfig reports ffmpeg missing even if it exists (Windows)
  synfig-core/src/modules/mod_ffmpeg/trgt_ffmpeg.cpp
Labels: Windows

#2634 feat: Show/Hide rulers
  synfig-studio/src/gui/app.cpp
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/canvasview.h
  synfig-studio/src/gui/workarea.cpp
  synfig-studio/src/gui/workarea.h
Labels: GUI
