Repository synfig/synfig, pull requests merged in 2022-06, with the labels that each got.

#2582 Added a mnemonic for the Text layer input dialog.
  synfig-studio/src/gui/app.cpp
Labels: UI/UX

#2654 Replaced deprecated Gdk::Color with Gdk:RGBA
  synfig-studio/src/gui/cellrenderer/cellrenderer_timetrack.cpp
  synfig-studio/src/gui/widgets/widget_coloredit.cpp
  synfig-studio/src/gui/widgets/widget_curves.cpp
  synfig-studio/src/gui/widgets/widget_timegraphbase.cpp
  synfig-studio/src/gui/widgets/widget_timeslider.cpp
  synfig-studio/src/gui/workarearenderer/renderer_bbox.cpp
  synfig-studio/src/gui/workarearenderer/renderer_dragbox.cpp
  synfig-studio/src/gui/workarearenderer/renderer_ducks.cpp
  synfig-studio/src/gui/workarearenderer/renderer_guides.cpp
  synfig-studio/src/gui/workarearenderer/renderer_timecode.cpp
  synfig-studio/src/gui/workarearenderer/workarearenderer.h
Labels: Code quality

#2655 Replaced deprecated Gtk::StockId in FrameDial icons
  synfig-studio/src/gui/dials/framedial.cpp
  synfig-studio/src/gui/dials/framedial.h
Labels: GUI

#2656 Replaced deprecated Gtk::StockId in DuckDial icons
  synfig-studio/src/gui/dials/toggleducksdial.cpp
  synfig-studio/src/gui/dials/toggleducksdial.h
Labels: GUI

#2661 Replaced deprecated Gtk::StockID in KeyFrameDial
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/canvasview.h
  synfig-studio/src/gui/dials/keyframedial.cpp
  synfig-studio/src/gui/dials/keyframedial.h
Labels: GUI, Code quality

#2662 Replaced deprecated Gtk::StockID in Dockables
  synfig-studio/src/gui/docks/dockable.cpp
  synfig-studio/src/gui/docks/dockable.h
  synfig-studio/src/gui/states/state_bline.cpp
  synfig-studio/src/gui/states/state_bone.cpp
  synfig-studio/src/gui/states/state_draw.cpp
  synfig-studio/src/gui/states/state_polygon.cpp
  synfig-studio/src/gui/states/state_sketch.cpp
Labels: GUI, Code quality

#2663 Replaced deprecated Gtk::StockID in Preview window
  synfig-studio/src/gui/preview.cpp
  synfig-studio/src/gui/preview.h
Labels: GUI, Code quality

#2465 Refactoring and bugfix for ValueDescBoneSetParent
  synfig-core/src/synfig/valuenodes/valuenode_bone.cpp
  synfig-core/src/synfig/valuenodes/valuenode_bone.h
  synfig-studio/src/synfigapp/actions/valuedescbonesetparent.cpp
  synfig-studio/src/synfigapp/actions/valuedescbonesetparent.h
Labels: Bones

#2674 fix: No context menu shown for Transformation parameter of Group Layer
  synfig-studio/src/synfigapp/actions/blinepointtangentmerge.cpp
  synfig-studio/src/synfigapp/actions/blinepointtangentsplit.cpp
Labels: Regression

#2673 fix(bone-tool): new bone position when active bone is invalid
  synfig-studio/src/gui/states/state_bone.cpp
Labels: Bones

#2676 build: Use CMake's PkgConfig imported targets
  CMakeLists.txt
  ETL/test/CMakeLists.txt
  synfig-core/src/CMakeLists.txt
  synfig-core/src/modules/lyr_freetype/CMakeLists.txt
  synfig-core/src/modules/lyr_std/CMakeLists.txt
  synfig-core/src/modules/mod_jpeg/CMakeLists.txt
  synfig-core/src/modules/mod_mng/CMakeLists.txt
  synfig-core/src/modules/mod_openexr/CMakeLists.txt
  synfig-core/src/modules/mod_png/CMakeLists.txt
  synfig-core/src/modules/mod_svg/CMakeLists.txt
  synfig-core/src/synfig/CMakeLists.txt
  synfig-studio/src/CMakeLists.txt
  synfig-studio/src/gui/CMakeLists.txt
Labels: CMake

#2622 refactor(core): Cleaned up registration function
  synfig-core/src/synfig/valuenode_registry.cpp
  synfig-core/src/synfig/valuenode_registry.h
Labels: Code quality

#2671 fix: Fixed build warnings (GCC 9.4.0)
  synfig-studio/src/gui/actionmanagers/layeractionmanager.cpp
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/states/state_bone.cpp
  synfig-studio/src/gui/states/state_brush.cpp
  synfig-studio/src/synfigapp/actions/layerduplicate.cpp
Labels: Code quality

#2669 refactor: Replaced deprecated Gtk::StockID in Layers panel
  synfig-studio/src/gui/trees/layertree.cpp
  synfig-studio/src/gui/trees/layertreestore.cpp
  synfig-studio/src/gui/trees/layertreestore.h
Labels: GUI, Code quality

#2681 build: Added Jack audio support to CMake
  synfig-studio/src/CMakeLists.txt
  synfig-studio/src/gui/CMakeLists.txt
Labels: CMake, infrastructure

#2664 refactor: Replaced deprecated Gtk::StockID in Jack widget
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/canvasview.h
  synfig-studio/src/gui/dialogs/dialog_preview.h
  synfig-studio/src/gui/dials/jackdial.cpp
  synfig-studio/src/gui/dials/jackdial.h
  synfig-studio/src/gui/preview.cpp
  synfig-studio/src/gui/preview.h
Labels: GUI, Code quality

#2684 build(CMake): small refactoring and code cleanup
  synfig-core/src/CMakeLists.txt
  synfig-core/src/modules/lyr_freetype/CMakeLists.txt
  synfig-studio/src/CMakeLists.txt
  synfig-studio/src/gui/CMakeLists.txt
Labels: CMake

#2670 refactor: Replaced deprecated Gtk::StockID in Parameters panel
  synfig-studio/src/gui/iconcontroller.cpp
  synfig-studio/src/gui/iconcontroller.h
  synfig-studio/src/gui/trees/canvastreestore.cpp
  synfig-studio/src/gui/trees/canvastreestore.h
  synfig-studio/src/gui/trees/childrentree.cpp
  synfig-studio/src/gui/trees/childrentreestore.cpp
  synfig-studio/src/gui/trees/layertree.cpp
Labels: GUI, Code quality

#2613 feat: Reproducible build
  synfig-core/src/synfig/main.cpp
  synfig-core/src/tool/optionsprocessor.cpp
  synfig-studio/src/gui/dialogs/about.cpp
Labels: Code quality

#2682 refactor: Replaced deprecated Gtk::StockID in Filename widget
  synfig-studio/src/gui/widgets/widget_filename.cpp
  synfig-studio/src/gui/widgets/widget_filename.h
Labels: GUI, Code quality

#2679 fix: Wrong color in HSV wheel when color was changed with paint bucket
  synfig-studio/src/gui/widgets/widget_coloredit.cpp
  synfig-studio/src/gui/widgets/widget_coloredit.h
Labels: Bug

#2666 refactor: Replaced deprecated Gtk::StockID in Widget Interpolation
  synfig-studio/src/gui/widgets/widget_enum.cpp
  synfig-studio/src/gui/widgets/widget_enum.h
  synfig-studio/src/gui/widgets/widget_interpolation.cpp
  synfig-studio/src/gui/widgets/widget_interpolation.h
Labels: GUI, Code quality

#2665 refactor: Replaced deprecated Gtk::StockID in WidgetLink
  synfig-studio/src/gui/renddesc.cpp
  synfig-studio/src/gui/renddesc.h
  synfig-studio/src/gui/widgets/widget_link.cpp
  synfig-studio/src/gui/widgets/widget_link.h
Labels: GUI, Code quality

#2693 fix: Synfig hanging after right-click on sub-sub-parameter
  synfig-core/src/synfig/valuenode.cpp
Labels: Bug

#2696 refactor: removed deprecated std::unary_function and std::binary_function classes
  ETL/ETL/_angle.h
  ETL/ETL/_bezier.h
  ETL/ETL/_calculus.h
  ETL/ETL/_curve_func.h
  ETL/ETL/_hermite.h
  synfig-core/src/synfig/real.h
  synfig-core/src/synfig/valuenodes/valuenode_animatedinterface.cpp
  synfig-core/src/synfig/vector.h
Labels: Code quality

#2689 feat: Added support for `Ctr+Enter` to complete text input in Text tool dialog
  synfig-studio/src/gui/app.cpp
Labels: GUI

#2694 fix: don't allow to Connect to exported value node if it has wrong type
  synfig-studio/src/synfigapp/actions/valuedescconnect.cpp
Labels: Bug, Backport

#2668 refactor: Replaced deprecated Gtk::StockID (non-visual)
  synfig-studio/src/gui/dialogs/canvasproperties.cpp
  synfig-studio/src/gui/dialogs/dialog_gradient.cpp
  synfig-studio/src/gui/dialogs/dialog_keyframe.cpp
  synfig-studio/src/gui/dialogs/dialog_setup.cpp
  synfig-studio/src/gui/dialogs/dialog_soundselect.cpp
  synfig-studio/src/gui/dialogs/dialog_targetparam.cpp
  synfig-studio/src/gui/dialogs/dialog_template.cpp
  synfig-studio/src/gui/dialogs/dialog_waypoint.cpp
  synfig-studio/src/gui/dialogs/vectorizersettings.cpp
  synfig-studio/src/gui/docks/dock_canvases.cpp
  synfig-studio/src/gui/render.cpp
  synfig-studio/src/gui/states/state_lasso.cpp
Labels: GUI, Code quality

#2650 fix: Synfig does not start if the OS username contains non-Latin characters (Windows)
  synfig-core/src/synfig/debug/log.cpp
  synfig-core/src/synfig/filesystem.cpp
  synfig-core/src/synfig/filesystem.h
  synfig-core/src/synfig/main.cpp
  synfig-studio/src/gui/app.cpp
  synfig-studio/src/gui/duckmatic.cpp
  synfig-studio/src/gui/workspacehandler.cpp
  synfig-studio/src/synfigapp/main.cpp
  synfig-studio/src/synfigapp/settings.cpp
Labels: Windows

#2697 refactor: Replaced deprecated Gtk::StockID in ResolutionDial
  synfig-studio/src/gui/canvasview.cpp
  synfig-studio/src/gui/canvasview.h
  synfig-studio/src/gui/dials/resolutiondial.cpp
  synfig-studio/src/gui/dials/resolutiondial.h
Labels: GUI, Code quality
