Repository synfig/synfig, pull requests merged in 2022-07, with the labels that each got.

#2719 fix: Indicate segments where points are disabled in Timetrack Panel (regression)
  synfig-studio/src/gui/widgets/widget_timetrack.cpp
Labels: GUI, UI/UX

#2683 refactor: Replaced deprecated Gtk::StockID in Sets panel
  synfig-studio/src/gui/trees/layergrouptree.cpp
  synfig-studio/src/gui/trees/layergrouptreestore.cpp
  synfig-studio/src/gui/trees/layergrouptreestore.h
Labels: GUI, Code quality

#2652 fix: Missing menu in Synfig when path to plugins contains non-Latin symbols (Windows)
  synfig-studio/src/gui/app.cpp
  synfig-studio/src/gui/pluginmanager.cpp
Labels: Windows
